@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display&family=Inter:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: rgb(28, 31, 33);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav{
    background-color: aliceblue;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px skyblue;
}

nav ul li{
   list-style: none; 
   display: inline-block;
   padding: 13px 35px;
   margin: 10px;
   font-size: 18px;
   font-weight: 500;
   color: #777;
   cursor: pointer;
   position: relative;
   z-index: 2;
   transition: color 0.5s;
}
nav ul li a{
    text-decoration: none;
    color: #777;


}
nav ul li::after{
    content: '';
    background: skyblue;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover{
    color: #fff;
}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}

body {
    height: 125vh;
    background-color: rgb(28, 31, 33);
}

/* h1 name title */

h1 {
    background-color: skyblue;
    color: antiquewhite;
    font-family: 'Archivo Black', sans-serif;
}


/* h2 element fonts and color */ 
h2 {
    color: skyblue;
    font-family: font-family: 'Archivo Black', sans-serif;
    font-family: 'DM Serif Display', serif;;
}



/* logo style */
